/* Custom font */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

dialog {
    border: none;
}


/* General styling */

:root {
    font-family: "Rubik", sans-serif;
    --background-color: white;
    --cell-background-color: #f2f2f2;
    --link-hover-color: #28231d;
    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 8rem;
    --border-radius: 1rem;
}


.grid-wrapper {
    display: grid;
    grid-template-rows: auto 15fr 1fr;
    height: 100vh;
    background-color: var(--background-color);
}

/* Header styling */
.header {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-l) var(--spacing-xxl);
}

.header .title {
    font-size: calc(2rem + 1vw);
    font-weight: bold;
}


/* Board styling */
.board  {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(100px, 150px));
    grid-template-rows: repeat(3, minmax(100px, 150px));
    gap: var(--spacing-m);
    padding: var(--spacing-xxl) calc(var(--spacing-xxl) * 4);
}

.cell {
    background-color: var(--cell-background-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
}

.cell .text {
    height: 50%;
}

.cell:hover {
    border-radius: 20px;
    transform: scale(1.05);
    background-color: rgb(233, 233, 233);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.096);
}

/* Footer styling */
.footer {
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-s);
    font-weight: 450;
    gap: var(--spacing-s);
}

.icon {
    background-image: url(../assets/icons/github.svg);
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
}